  <!-- CUERPO DEL EJERCICIO -->
  <main>
    <div>
      <img src="../images/logo1.png" alt="logo-bar" width="100px">
    </div>
    <div class="container-delete">
        <div class="titulo">
          <h1>Estimado {{cita.rName}} tu reserva a sido Cancelada con Exito!!.</h1>
        </div>
        <div>
          <h3>Dejanos tu comentario!!</h3>
        </div>
        <div>
          <button id="cancelar" class="w-100 btn btn-lg btn-outline-dark" type="reset"><a href="http://localhost:8080/citas/cita">Volver</a></button>
        </div>

    </div>
  </main>