<main>
    <div class="container">
        <div>
            <img src="../images/logo1.png" alt="logo-bar">
        </div>
        <div class="titulo">
            ¡Bienvenid@!
        </div>
        <div class="text">
            En nuestro portal de citas tu podras:
        </div>
        <div>
            <div>
                <a href="/citas/new-cita"><button id="newCita" class="w-100 btn btn-lg btn-outline-dark" type="submit">Solicitar Nueva Cita</button></a>
            </div>
            <div>
                <a href="/citas/edit-cita"><button id="editCita" class="w-100 btn btn-lg btn-outline-dark" type="submit">Modificar/Eliminar Cita</button></a>
            </div>
            <div>
                <a href="/citas/recoverCita"><button id="recoverCita" class="w-100 btn btn-lg btn-outline-dark" type="submit">Recuperar Cita</button></a>     
            </div>
            <div></div>
        </div>
    </div>
</main>
