<!DOCTYPE html>
<html lang="es" prefix="og: http://ogp.me/ns#">

<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<title>Bar do Alex</title>

	<!-- This site is optimized with the Yoast SEO plugin v9.0.1 - https://yoast.com/wordpress/plugins/seo/ -->
	<meta name="description" content="Restaurante en Madrid" />
	<link rel="canonical" href="https://restaurantedcorazon.com/" />
	<meta property="og:locale" content="es_ES" />
	<meta property="og:type" content="website" />
	<meta property="og:title" content="Restaurante DCorazon - Restaurante en Madrid" />
	<meta property="og:description" content="Restaurante en Madrid" />
	<meta property="og:url" content="https://restaurantedcorazon.com/" />
	<meta property="og:site_name" content="Restaurante DCorazon" />
	<meta name="twitter:card" content="summary_large_image" />
	<meta name="twitter:description" content="Restaurante en Madrid" />
	<meta name="twitter:title" content="Restaurante DCorazon - Restaurante en Madrid" />
	<meta name="twitter:site" content="@restdcorazon" />
	<script
		type='application/ld+json'>{"@context":"https:\/\/schema.org","@type":"WebSite","@id":"#website","url":"https:\/\/restaurantedcorazon.com\/","name":"Restaurante Dcorazon","potentialAction":{"@type":"SearchAction","target":"https:\/\/restaurantedcorazon.com\/?s={search_term_string}","query-input":"required name=search_term_string"}}</script>
	<script
		type='application/ld+json'>{"@context":"https:\/\/schema.org","@type":"Organization","url":"https:\/\/restaurantedcorazon.com\/","sameAs":["https:\/\/www.facebook.com\/restaurantedcorazon\/","https:\/\/www.instagram.com\/restaurantedcorazon\/","https:\/\/twitter.com\/restdcorazon"],"@id":"https:\/\/restaurantedcorazon.com\/#organization","name":"Restaurante Dcorazon","logo":"https:\/\/restaurantedcorazon.com\/wp-content\/uploads\/2018\/05\/logo-gr.png"}</script>
	<!-- / Yoast SEO plugin. -->

	<link rel='dns-prefetch' href='//fonts.googleapis.com' />
	<link rel='dns-prefetch' href='//s.w.org' />
	<link rel="alternate" type="application/rss+xml" title="Restaurante DCorazon &raquo; Feed"
		href="https://restaurantedcorazon.com/feed/" />
	<link rel="alternate" type="application/rss+xml" title="Restaurante DCorazon &raquo; Feed de los comentarios"
		href="https://restaurantedcorazon.com/comments/feed/" />
	<link rel="alternate" type="text/calendar" title="Restaurante DCorazon &raquo; iCal Feed"
		href="https://restaurantedcorazon.com/eventos/?ical=1" />
	<!-- This site uses the Google Analytics by ExactMetrics plugin v6.3.0 - Using Analytics tracking - https://www.exactmetrics.com/ -->
	<script type="text/javascript" data-cfasync="false">
		(window.gaDevIds = window.gaDevIds || []).push("dNDMyYj");
		var em_version = '6.3.0';
		var em_track_user = true;
		var em_no_track_reason = '';

		var disableStr = 'ga-disable-UA-120256704-1';

		/* Function to detect opted out users */
		function __gaTrackerIsOptedOut() {
			return document.cookie.indexOf(disableStr + '=true') > -1;
		}

		/* Disable tracking if the opt-out cookie exists. */
		if (__gaTrackerIsOptedOut()) {
			window[disableStr] = true;
		}

		/* Opt-out function */
		function __gaTrackerOptout() {
			document.cookie = disableStr + '=true; expires=Thu, 31 Dec 2099 23:59:59 UTC; path=/';
			window[disableStr] = true;
		}

		if ('undefined' === typeof gaOptout) {
			function gaOptout() {
				__gaTrackerOptout();
			}
		}

		if (em_track_user) {
			(function (i, s, o, g, r, a, m) {
				i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
					(i[r].q = i[r].q || []).push(arguments)
				}, i[r].l = 1 * new Date(); a = s.createElement(o),
					m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
			})(window, document, 'script', '//www.google-analytics.com/analytics.js', '__gaTracker');

			window.ga = __gaTracker; __gaTracker('create', 'UA-120256704-1', 'auto');
			__gaTracker('set', 'forceSSL', true);
			__gaTracker('send', 'pageview');
			__gaTracker(function () { window.ga = __gaTracker; });
		} else {
			console.log("");
			(function () {
				/* https://developers.google.com/analytics/devguides/collection/analyticsjs/ */
				var noopfn = function () {
					return null;
				};
				var noopnullfn = function () {
					return null;
				};
				var Tracker = function () {
					return null;
				};
				var p = Tracker.prototype;
				p.get = noopfn;
				p.set = noopfn;
				p.send = noopfn;
				var __gaTracker = function () {
					var len = arguments.length;
					if (len === 0) {
						return;
					}
					var f = arguments[len - 1];
					if (typeof f !== 'object' || f === null || typeof f.hitCallback !== 'function') {
						console.log('Funci칩n desactivada __gaTracker(' + arguments[0] + " ....) porque no est치s siendo rastreado. " + em_no_track_reason);
						return;
					}
					try {
						f.hitCallback();
					} catch (ex) {

					}
				};
				__gaTracker.create = function () {
					return new Tracker();
				};
				__gaTracker.getByName = noopnullfn;
				__gaTracker.getAll = function () {
					return [];
				};
				__gaTracker.remove = noopfn;
				window['__gaTracker'] = __gaTracker;
				window.ga = __gaTracker;
			})();
		}
	</script>
	<!-- / Google Analytics by ExactMetrics -->
	<script type="text/javascript">
		window._wpemojiSettings = { "baseUrl": "https:\/\/s.w.org\/images\/core\/emoji\/13.0.0\/72x72\/", "ext": ".png", "svgUrl": "https:\/\/s.w.org\/images\/core\/emoji\/13.0.0\/svg\/", "svgExt": ".svg", "source": { "concatemoji": "https:\/\/restaurantedcorazon.com\/wp-includes\/js\/wp-emoji-release.min.js?ver=5.5.3" } };
		!function (e, a, t) { var r, n, o, i, p = a.createElement("canvas"), s = p.getContext && p.getContext("2d"); function c(e, t) { var a = String.fromCharCode; s.clearRect(0, 0, p.width, p.height), s.fillText(a.apply(this, e), 0, 0); var r = p.toDataURL(); return s.clearRect(0, 0, p.width, p.height), s.fillText(a.apply(this, t), 0, 0), r === p.toDataURL() } function l(e) { if (!s || !s.fillText) return !1; switch (s.textBaseline = "top", s.font = "600 32px Arial", e) { case "flag": return !c([127987, 65039, 8205, 9895, 65039], [127987, 65039, 8203, 9895, 65039]) && (!c([55356, 56826, 55356, 56819], [55356, 56826, 8203, 55356, 56819]) && !c([55356, 57332, 56128, 56423, 56128, 56418, 56128, 56421, 56128, 56430, 56128, 56423, 56128, 56447], [55356, 57332, 8203, 56128, 56423, 8203, 56128, 56418, 8203, 56128, 56421, 8203, 56128, 56430, 8203, 56128, 56423, 8203, 56128, 56447])); case "emoji": return !c([55357, 56424, 8205, 55356, 57212], [55357, 56424, 8203, 55356, 57212]) }return !1 } function d(e) { var t = a.createElement("script"); t.src = e, t.defer = t.type = "text/javascript", a.getElementsByTagName("head")[0].appendChild(t) } for (i = Array("flag", "emoji"), t.supports = { everything: !0, everythingExceptFlag: !0 }, o = 0; o < i.length; o++)t.supports[i[o]] = l(i[o]), t.supports.everything = t.supports.everything && t.supports[i[o]], "flag" !== i[o] && (t.supports.everythingExceptFlag = t.supports.everythingExceptFlag && t.supports[i[o]]); t.supports.everythingExceptFlag = t.supports.everythingExceptFlag && !t.supports.flag, t.DOMReady = !1, t.readyCallback = function () { t.DOMReady = !0 }, t.supports.everything || (n = function () { t.readyCallback() }, a.addEventListener ? (a.addEventListener("DOMContentLoaded", n, !1), e.addEventListener("load", n, !1)) : (e.attachEvent("onload", n), a.attachEvent("onreadystatechange", function () { "complete" === a.readyState && t.readyCallback() })), (r = t.source || {}).concatemoji ? d(r.concatemoji) : r.wpemoji && r.twemoji && (d(r.twemoji), d(r.wpemoji))) }(window, document, window._wpemojiSettings);
	</script>
	<style type="text/css">
		img.wp-smiley,
		img.emoji {
			display: inline !important;
			border: none !important;
			box-shadow: none !important;
			height: 1em !important;
			width: 1em !important;
			margin: 0 .07em !important;
			vertical-align: -0.1em !important;
			background: none !important;
			padding: 0 !important;
		}
	</style>
	<link rel='stylesheet' id='i-theme-css'
		href='https://restaurantedcorazon.com/wp-content/themes/itheme/style.css?ver=1.1.2' type='text/css'
		media='all' />
	<link rel='stylesheet' id='wp-block-library-css'
		href='https://restaurantedcorazon.com/wp-includes/css/dist/block-library/style.min.css?ver=5.5.3'
		type='text/css' media='all' />
	<link rel='stylesheet' id='exactmetrics-popular-posts-style-css'
		href='https://restaurantedcorazon.com/wp-content/plugins/google-analytics-dashboard-for-wp/assets/css/frontend.min.css?ver=6.3.0'
		type='text/css' media='all' />
	<link rel='stylesheet' id='google-fonts-css'
		href='//fonts.googleapis.com/css?family=Open+Sans%3A300%2C300i%2C400%2C400i%2C600%2C600i%2C700%2C700i%2C800%2C800i%7CRoboto+Slab%3A100%2C300%2C400%2C700&#038;ver=ASITHEME_VERSION'
		type='text/css' media='all' />
	<link rel='stylesheet' id='font-awesome-css'
		href='https://restaurantedcorazon.com/wp-content/plugins/elementor/assets/lib/font-awesome/css/font-awesome.min.css?ver=4.7.0'
		type='text/css' media='all' />
	<script type='text/javascript' id='exactmetrics-frontend-script-js-extra'>
		/* <![CDATA[ */
		var exactmetrics_frontend = { "js_events_tracking": "true", "download_extensions": "zip,mp3,mpeg,pdf,docx,pptx,xlsx,rar", "inbound_paths": "[{\"path\":\"\\\/go\\\/\",\"label\":\"affiliate\"},{\"path\":\"\\\/recommend\\\/\",\"label\":\"affiliate\"}]", "home_url": "https:\/\/restaurantedcorazon.com", "hash_tracking": "false" };
/* ]]> */
	</script>
	<script type='text/javascript'
		src='https://restaurantedcorazon.com/wp-content/plugins/google-analytics-dashboard-for-wp/assets/js/frontend.min.js?ver=6.3.0'
		id='exactmetrics-frontend-script-js'></script>
	<script type='text/javascript' src='https://restaurantedcorazon.com/wp-includes/js/jquery/jquery.js?ver=1.12.4-wp'
		id='jquery-core-js'></script>
	<script type='text/javascript'
		src='https://restaurantedcorazon.com/wp-content/themes/itheme/js/scripts.js?ver=ASITHEME_VERSION'
		id='scripts-js'></script>
	<link rel="https://api.w.org/" href="https://restaurantedcorazon.com/wp-json/" />
	<link rel="EditURI" type="application/rsd+xml" title="RSD" href="https://restaurantedcorazon.com/xmlrpc.php?rsd" />
	<link rel="wlwmanifest" type="application/wlwmanifest+xml"
		href="https://restaurantedcorazon.com/wp-includes/wlwmanifest.xml" />
	<meta name="generator" content="WordPress 5.5.3" />
	<meta name="tec-api-version" content="v1">
	<meta name="tec-api-origin" content="https://restaurantedcorazon.com">
	<link rel="https://theeventscalendar.com/" href="https://restaurantedcorazon.com/wp-json/tribe/events/v1/" />
	<link rel="pingback" href="https://restaurantedcorazon.com/xmlrpc.php" />
	<style type="text/css">
		.woocommerce #respond input#submit,
		.woocommerce a.button,
		.woocommerce button.button,
		.woocommerce input.button {
			background-color: #ffb11b !important;
			color: #ffffff !important;
		}

		button:hover,
		input:hover[type="button"],
		input:hover[type="reset"],
		input:hover[type="submit"],
		.button:hover,
		button:focus,
		input:focus[type="button"],
		input:focus[type="reset"],
		input:focus[type="submit"],
		.button:focus,
		.footer-widgets button,
		.footer-widgets input[type="button"],
		.footer-widgets input[type="reset"],
		.footer-widgets input[type="submit"],
		.footer-widgets .button,
		.site-header .cart-contents span,
		.enews-widget input[type="submit"] {
			background-color: #ffb11b;
			color: #ffffff;
		}

		a,
		.entry-title a:hover,
		.entry-title a:focus,
		.nav-primary .genesis-nav-menu .sub-menu a:hover,
		.nav-primary .genesis-nav-menu .sub-menu a:focus,
		.nav-primary .genesis-nav-menu .sub-menu .current-menu-item>a {
			color: #ffb11b;
		}

		.site-header.fixed.scroll {
			background-color: rgba(255, 255, 255, 0.5);
		}
	</style>
	<link rel="icon" href="https://restaurantedcorazon.com/wp-content/uploads/2018/05/Logo-restau-corazon-150x150.jpg"
		sizes="32x32" />
	<link rel="icon" href="https://restaurantedcorazon.com/wp-content/uploads/2018/05/Logo-restau-corazon.jpg"
		sizes="192x192" />
	<link rel="apple-touch-icon"
		href="https://restaurantedcorazon.com/wp-content/uploads/2018/05/Logo-restau-corazon.jpg" />
	<meta name="msapplication-TileImage"
		content="https://restaurantedcorazon.com/wp-content/uploads/2018/05/Logo-restau-corazon.jpg" />
</head>

<body
	class="home blog wp-custom-logo tribe-no-js tribe-bar-is-disabled nolayout chrome blog-style elementor-default elementor-kit-424"
	itemscope itemtype="https://schema.org/WebPage">
	<div class="site-container">
		<ul class="genesis-skip-link">
			<li><a href="#genesis-nav-primary" class="screen-reader-shortcut"> Skip to primary navigation</a></li>
			<li><a href="#genesis-content" class="screen-reader-shortcut"> Skip to content</a></li>
			<li><a href="#genesis-sidebar-primary" class="screen-reader-shortcut"> Skip to primary sidebar</a></li>
		</ul>
		<header class="site-header relative" itemscope itemtype="https://schema.org/WPHeader">
			<div class="wrap">
				<div class="title-area">
					<h1 class="site-title" itemprop="headline"><a href="https://restaurantedcorazon.com/"
							class="custom-logo-link" rel="home" aria-current="page"><img width="889" height="642"
								src="https://restaurantedcorazon.com/wp-content/uploads/2018/05/cropped-sello-1.png"
								class="custom-logo" alt="Restaurante DCorazon"
								srcset="https://restaurantedcorazon.com/wp-content/uploads/2018/05/cropped-sello-1.png 889w, https://restaurantedcorazon.com/wp-content/uploads/2018/05/cropped-sello-1-300x217.png 300w, https://restaurantedcorazon.com/wp-content/uploads/2018/05/cropped-sello-1-768x555.png 768w"
								sizes="(max-width: 889px) 100vw, 889px" /></a></h1>
				</div>
				<div class="widget-area header-widget-area">
					<nav class="nav-primary" aria-label="Main" itemscope
						itemtype="https://schema.org/SiteNavigationElement" id="genesis-nav-primary">
						<div class="wrap">
							<ul id="menu-menu" class="menu genesis-nav-menu menu-primary js-superfish">
								<li id="menu-item-227"
									class="menu-item menu-item-type-post_type menu-item-object-page menu-item-227"><a
										href="http://localhost:8080/citas/cita" 
										data-title="Reserva"><span itemprop="name">Reserva</span></a></li>
								<li id="menu-item-47"
									class="menu-item menu-item-type-post_type menu-item-object-page menu-item-47"><a
										href="https://restaurantedcorazon.com/el-sitio/" itemprop="url"
										data-title="El sitio"><span itemprop="name">El sitio</span></a></li>
								<li id="menu-item-48"
									class="menu-item menu-item-type-post_type menu-item-object-page menu-item-48"><a
										href="https://restaurantedcorazon.com/carta-restaurante-dcorazon/"
										itemprop="url" data-title="Carta"><span itemprop="name">Carta</span></a></li>
								<li id="menu-item-63"
									class="menu-item menu-item-type-post_type menu-item-object-page menu-item-63"><a
										href="https://restaurantedcorazon.com/contacto/" itemprop="url"
										data-title="Contacto"><span itemprop="name">Contacto</span></a></li>
							</ul>
						</div>
					</nav>
					<section class="widget widget_search">
						<div class="widget-wrap">
							<form class="search-form" itemprop="potentialAction" itemscope
								itemtype="https://schema.org/SearchAction" method="get"
								action="https://restaurantedcorazon.com/" role="search"><label
									class="search-form-label screen-reader-text" for="searchform-1">Buscar en la
									web...</label><input class="search-form-input" type="search" itemprop="query-input"
									name="s" id="searchform-1" placeholder="Buscar en la web..."><input
									class="search-form-submit" type="submit" value="&#xf002;">
								<meta itemprop="target" content="https://restaurantedcorazon.com/?s={s}">
							</form>
						</div>
					</section>
				</div><a id="menu-btn" href="#">
					<div class="line"></div>
				</a>
			</div>
		</header>
		<div class="site-inner relative">
			<style type="text/css">
				article.front-page .banner h1,
				article.front-page .banner h1 * {
					color: #ffffff;
				}
			</style>

			<article class="front-page">

				<div class="banner"
					style="background-image: url('https://restaurantedcorazon.com/wp-content/uploads/2020/11/Dcorazon-Foto-Portada.jpg');">

					<div class="banner-inner">
						<h1>
							<p style="text-align: left;"><b> Bar do Alex</b></p>
						</h1>
						<a href="http://localhost:8080/citas/cita" class="button">
							Reserva </a>
					</div>

				</div>

				<div class="wrapper-inner">


					<div class="cta-wrapper cta-3">


						<div class="cta">
							<div class="cta-inner">
								<div class="image">
									<img
										src="https://restaurantedcorazon.com/wp-content/uploads/2018/06/Ubicacion-Restaurante-Dcorazon.png">
								</div>
								<div class="text">
									Restaurante en Madrid </div>
							</div>
						</div>


						<div class="cta">
							<div class="cta-inner">
								<div class="image">
									<img
										src="https://restaurantedcorazon.com/wp-content/uploads/2018/06/Telefono-Restaurante-Dcorazon.png">
								</div>
								<div class="text">
									+34 910695743 </div>
							</div>
						</div>


						<div class="cta">
							<div class="cta-inner">
								<div class="image">
									<img
										src="https://restaurantedcorazon.com/wp-content/uploads/2018/06/Take-Away-Restaurante-Dcorazon.png">
								</div>
								<div class="text">
									Comida para llevar </div>
							</div>
						</div>


						<div class="clear"></div>

					</div>


					<div class="asi-posts-wrapper">
						<div class="asi-posts-wrapper">
							<article
								class="post-291 post type-post status-publish format-standard has-post-thumbnail category-sin-categoria-es tag-cata tag-cata-de-vino tag-madrid tag-plaza-mayor tag-restaurante-centro entry asicolumn">
								<a class="entry-image-link"
									href="https://restaurantedcorazon.com/catas-y-talleres-en-madrid/"
									style="background-image: url('https://restaurantedcorazon.com/wp-content/uploads/2018/09/Catas-vino-Madrid-768x960.jpg');"></a>
								<div class="entry-content-wrap">
									<header class="entry-header">
										<h2 class="entry-title" itemprop="headline"><a class="entry-title-link"
												rel="bookmark"
												href="https://restaurantedcorazon.com/catas-y-talleres-en-madrid/">Catas
												y talleres DCorazon</a></h2>
									</header>
									<div class="entry-content">
										<p>Ham Session. Aprende a diferenciar EL JAMON prob치ndolo Participar en nuestras
											catas y talleres en Madrid. Si eres de los que disfruta con una buena copa
											de vino, con talleres de cerveza, jam칩n, cavas&#8230; y quieres aprender de
											los momentos que conlleva degustar todas estas maravillas entonces tenemos
											una cita. Visita nuestro calendario de catas [&hellip;]</p>
									</div>
									<footer class="entry-footer"></footer><a class="read-more"
										href="https://restaurantedcorazon.com/catas-y-talleres-en-madrid/">Seguir
										leyendo</a>
								</div>
							</article>
							<div class="clear"></div>
						</div>


					</div>

			</article>
		</div>
		<footer class="site-footer" itemscope itemtype="https://schema.org/WPFooter">
			<div class="wrap">
				<div><span>Restaurante DCorazon Plaza Mayor 30, Madrid </span></div>
			</div>
		</footer>
	</div>
	<script>
		(function (body) {
			'use strict';
			body.className = body.className.replace(/\btribe-no-js\b/, 'tribe-js');
		})(document.body);
	</script>
	<script> /* <![CDATA[ */var tribe_l10n_datatables = { "aria": { "sort_ascending": ": activate to sort column ascending", "sort_descending": ": activate to sort column descending" }, "length_menu": "Show _MENU_ entries", "empty_table": "No data available in table", "info": "Showing _START_ to _END_ of _TOTAL_ entries", "info_empty": "Showing 0 to 0 of 0 entries", "info_filtered": "(filtered from _MAX_ total entries)", "zero_records": "No matching records found", "search": "Search:", "all_selected_text": "All items on this page were selected. ", "select_all_link": "Select all pages", "clear_selection": "Clear Selection.", "pagination": { "all": "All", "next": "Next", "previous": "Previous" }, "select": { "rows": { "0": "", "_": ": Selected %d rows", "1": ": Selected 1 row" } }, "datepicker": { "dayNames": ["domingo", "lunes", "martes", "mi\u00e9rcoles", "jueves", "viernes", "s\u00e1bado"], "dayNamesShort": ["Dom", "Lun", "Mar", "Mi\u00e9", "Jue", "Vie", "S\u00e1b"], "dayNamesMin": ["D", "L", "M", "X", "J", "V", "S"], "monthNames": ["enero", "febrero", "marzo", "abril", "mayo", "junio", "julio", "agosto", "septiembre", "octubre", "noviembre", "diciembre"], "monthNamesShort": ["enero", "febrero", "marzo", "abril", "mayo", "junio", "julio", "agosto", "septiembre", "octubre", "noviembre", "diciembre"], "monthNamesMin": ["Ene", "Feb", "Mar", "Abr", "May", "Jun", "Jul", "Ago", "Sep", "Oct", "Nov", "Dic"], "nextText": "Siguiente", "prevText": "Anterior", "currentText": "Hoy", "closeText": "Hecho", "today": "Hoy", "clear": "Limpiar" } }; var tribe_system_info = { "sysinfo_optin_nonce": "f40577ed84", "clipboard_btn_text": "Copy to clipboard", "clipboard_copied_text": "System info copied", "clipboard_fail_text": "Press \"Cmd + C\" to copy" };/* ]]> */ </script>
	<script type='text/javascript' src='https://restaurantedcorazon.com/wp-includes/js/hoverIntent.min.js?ver=1.8.1'
		id='hoverIntent-js'></script>
	<script type='text/javascript'
		src='https://restaurantedcorazon.com/wp-content/themes/genesis/lib/js/menu/superfish.min.js?ver=1.7.10'
		id='superfish-js'></script>
	<script type='text/javascript'
		src='https://restaurantedcorazon.com/wp-content/themes/genesis/lib/js/menu/superfish.args.min.js?ver=3.0.3'
		id='superfish-args-js'></script>
	<script type='text/javascript'
		src='https://restaurantedcorazon.com/wp-content/themes/genesis/lib/js/skip-links.min.js?ver=3.0.3'
		id='skip-links-js'></script>
	<script type='text/javascript' src='https://restaurantedcorazon.com/wp-includes/js/wp-embed.min.js?ver=5.5.3'
		id='wp-embed-js'></script>
</body>

</html>