  <!-- CUERPO DEL EJERCICIO -->
  <main>
    <div class="container-reintentar">
    <div>
      <img src="../images/logo1.png" alt="logo-bar" width="100px">
    </div>
      <div class="titulo">
        <h1>Estimad@ {{miParametro}} <span>NO</span> ha sido posible asignarte cita para el dia {{fecha}} intentalo de nuevo!!</h1>
      </div>
      <div>
        <button id="cancelar" class="w-100 btn btn-lg btn-outline-dark" type="reset"><a
            href="http://localhost:8080/citas/cita">Volver</a></button>
      </div>
    </div>
    </div>
  </main>